.footerNavbar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footerLink {
    text-decoration: none;
    color: black;
}

.footerIcon {
    color: #59656F;
}

.footerIcon:hover {
    color: #6FFFE9
}