.footerNavbar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.footerLink {
    text-decoration: none;
    color: black;
}

.footerIcon:hover {
    color: #778DA9;
}